* {
    box-sizing: border-box;
}

.board {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    border: 2px solid green;
    padding: 4px;
}

.cell {
    /*display: inline-block;*/
    width: calc(25% - 2px);
    height: calc(25% - 2px);
    background-color: teal;
    border: 1px solid navy;
    margin: 1px;
    cursor: pointer;
    font-size: 4em;
    text-align: center;
    color: white;
}

.no-op {
    cursor: not-allowed;
}

.cell:hover {
    opacity: 0.7;
}

.players-seats {
    border: 1px solid darkgreen;
    font-size: 6em;
    top: 0.1em;
    height: 1.4em;
    line-height: 1.4em;
    width: 60vw;
    position: fixed;
    left: 20vw;
    background-color: palegreen;
}

.player {
    position: absolute;
    padding-left: 0.2em;
    padding-right: 0.2em;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.player-a {
    float: left;
    left: 0.2em
}

.player-b {
    float: right;
    right: 0.2em
}

.active-player {
    background-color: teal;
    color: white;
    font-weight: bold;
}