.board {
    color: rgba(27,31,35,.70);
}

.highlight {
    background-color: transparent;
}

/*svg {*/
/*    position: absolute;*/
/*}*/

.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#canvas-container, #grid {
    /*position: absolute;*/
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    /*margin: 0 auto;*/
}

#canvas-container {
    margin: 0 auto;
}

#grid {
    z-index: 9999;
}

#canvas-container {
    /*z-index: 9999;*/
}

.banner {
    position: static;
    display: flex;
    margin: 0.3em auto 0.5em;
    justify-content: space-between;
    font-size: 2.5em;
    font-weight: bold;
    background-color: rgba(221, 227, 225, 0.3);
    border: 2px solid rgba(27,31,35,.70);
}

.banner div {
    padding: 0 0.5em;
}

.banner div.active-player {
    color: white;
    background-color: cadetblue;
    padding: 0 0.5em;
}

.banner div:first-child {
    /*margin-left: 0.5em;*/
    border-right: 2px solid rgba(27,31,35,.70);
}

.banner div:last-child {
    /*margin-right: 0.5em;*/
    border-left: 2px solid rgba(27,31,35,.70);
}

.draw {
    display: none;
    /*margin-left: auto;*/
    width: calc(1em * 4);
    color: #80321B;
    font-size: 1em;
    font-weight: bold;
    animation: blinker 1s linear 3;
    text-align: center;
}

.draw.active {
    display: block;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.locked {
    cursor: not-allowed;
}