.board {
    color: rgba(27,31,35,.70);
}

.highlight {
    background-color: transparent;
}

/*svg {*/
/*    position: absolute;*/
/*}*/

#canvas, #grid {
    position: absolute;
}

#canvas {
    /*z-index: 9999;*/
}