.home h1 {
    margin-top: 2em;
}

.home div {
    font-size: 1.2em;
    width: 40vw;
    margin: 0 auto;
    text-align: left;
}

.home li {
    padding-bottom: 0.5em;
    list-style: none;
}

.home a {
    color: blue;
    text-decoration: underline;
}