.home {
    opacity: 0.7;
}

.home h1 {
    margin-top: 1em;
}

.home div {
    /*padding: 0.5em;*/
    font-size: 1.2em;
    width: 30vw;
    margin: 0 auto;
    text-align: left;
    background-color: rgba(221, 227, 225, 0.3);
    border: 1px dotted;
}

.home p {
    padding: 0 1.2em ;
    /*list-style: none;*/
}

.home a {
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 740px) {
    .home div {
        width: 90vw;
    }
}

@media print {
    .home div {
        width: 90vw;
    }
}