@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap');

.App {
    text-align: center;
}

.App-logo {
    height: 8vmin;
    pointer-events: none;
    padding: 1px;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        /*animation: App-logo-spin infinite 20s linear;*/
    }
}

.App-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

App-header a, header div {
    padding: 1em;
    cursor: pointer;
}

.App-header img+p {
    margin: 0.5em auto 0;
    font-size: 1.8em;
    font-family: 'Fascinate Inline', cursive;
}

.App-link {
    /*color: #61dafb;*/
    display: inline-block;
    color: white;
    font-size: 0.7em;
    text-decoration: underline;
    /*margin: 0.5em auto;*/
    padding: 1em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    font-size: inherit;
    margin: 1em;
    padding: 0.2em;
    color: white;
    background-color: cadetblue;
    text-decoration: none;
    border: 1px solid lightgrey;
    border-radius: 6px;
}

a {
    color: white;
    text-decoration: none;
}

